.log{
  padding-top:13px;
}

.login {
  width: 153px;
}

.stretch {
  margin-top: 11px;
  width: 500px;
  height: 80px;
  text-align: center;
  padding-top: 7px;
  color:deeppink;
  font-size: 18px;
}

.barone, .bartwo, .barthree, .barfour {
  background-color: lemonchiffon;
  padding: 0 15px 15px 15px
}

.well {
  background-color: turquoise;
}


.barNum {
  font-size:19px;
  font-style:bold;
  color: black;
  margin: 0;
}

.brand {
  text-align: center;
  margin-left: 10%;

}

.whoami-user-name {
  color: white;
  margin-right:7px;
}
.center {
	text-align:center;
	margin: 0 auto;
}

.header {
	margin: 20px auto;
	text-align:center;
}

.tripleShrink {
	width:50%;
	height:70%;
}

.dubShrink {
	width: 40%;
	height: 70%
}

.barRow {
	height: 200px
}

.thumbs {
	height: 180px;
	width: 320px;
}

.margin40 {
	margin: 0 25px
  /*//hahahahha*/
}



.bottom20 {
	margin-bottom:20px;
}

.top100 {
	margin-top: 100px;
}

.barContainer {
	margin: 0 auto;
	height: 300px;
	width: 600px;
	position: relative;
}

.barImage {
  position: absolute;
  left: 0;
  top: 0;
}

.indicators {
  z-index: 100;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
}
/*-----------------------------------------  bar placeholders ---------------------- */
/*-----------------------------------------  sp tandem bar  ---------------------- */
.spTop {
  top: 220px;
}

.spPosArrowTop {
  top: -21px;
}

#spArrowLeft0{
  left: 473px;
}

#spArrowLeft1{
  left: 453px;
}

#spArrowLeft2{
  left: 435px;
}

#spArrowLeft3{
  left: 416px;
}

#spArrowLeft4{
  left: 397px;
}

#spArrowLeft5{
  left: 378px;
}

#spArrowLeft9{
  display:none;
}



.spPosArrow {
  font-size:40px;
}

#spLeft1 {
  left: 29px;
}

#spLeft2 {
  left: 254px;
}

#spLeft3 {
  left: 319px;
}

#spLeft4 {
  left: 545px;
}
/*------------------------------------------------ start dub bar*/
/*------------------------------------------------ end sp. start dub bar*/
.dubTop {
  top: 163px;
}

#dubLeft1 {
  left:25px;
}

#dubLeft2 {
  left:77px;
}

#dubLeft3 {
  left:247px;
}

#dubLeft4 {
  left:299px;
}

#dubLeft4A {
  left:299px;
}

#dubLeft4B {
  left:299px;
}
#dubLeft4AB {
  left:285px;
}

#dubLeft4BA {
  left:285px;
}

#dubLeft5 {
  left:350px;
}

#dubLeft5A {
  left:350px;
}

#dubLeft5B {
  left:350px;
}

#dubLeft5AB {
  left:346px;
}

#dubLeft5BA {
  left:342px;
}

#dubLeft6 {
  left:540px;
}
/*----------------------------start tripRegBar---------*/
.tripPosArrowTop {
  top: -23px;
}

#tripArrowLeft0 {
  left: 507px;
}

#tripArrowLeft1 {
  left: 493px;
}

#tripArrowLeft2 {
  left: 481px;
}

#tripArrowLeft3 {
  left: 467px;
}

#tripArrowLeft4 {
  left: 455px;
}

#tripArrowLeft5 {
  left: 442px;
}

#tripArrowLeft9{
  display:none;
}

.tripTop {
  top:140px
}

#tripLeft1 {
  left:16px;
}

#tripLeft2 {
  left:166px;
}

#tripLeft3 {
  left:210px;
}

#tripLeft4 {
  left:361px;
}

#tripLeft5 {
  left:405px;
}

#tripLeft6 {
  left:556px;
}
/*------------start tripAdvantage---------*/
.tripAdvPosArrowTop {
  top: -19px;
}

#tripAdvArrowLeft0 {
  left: 517px;
}

#tripAdvArrowLeft1 {
  left: 500px;
}

#tripAdvArrowLeft2 {
  left: 483px;
}

#tripAdvArrowLeft3 {
  left: 467px;
}

#tripAdvArrowLeft4 {
  left: 450px;
}

#tripAdvArrowLeft5 {
  left: 433px;
}

#tripAdvArrowLeft9{
  display:none;
}







/*--------------------------*/
.A {
	color:chocolate;
}

.B {
	color:purple;
}

.C {
	color: red;
}

#slider {
	width:200px;
}

.well {
  display:inline-block;
  margin: 30px 10px;
}

.well .funk {
	display:inline-block;
	margin: 30px 10px;
}

.weight {
	font-style:bold;
	font-size: 20px;
}

.error {
	font-size:14px;
	color:red;
	margin: 20px auto;
	font-style: bold;
}

.err {
  width:20px;
}








